# Ignore environment configuration files
.env

# Ignore Terraform variables file
terraform.tfvars

# Ignore Terraform state files
terraform.tfstate
terraform.tfstate.backup

# Ignore Terraform crash log files
crash.log

# Ignore Terraform plan files
*.tfplan

# Ignore generated directories and files
.terraform/
.terraform.lock.hcl

